<tr>
<td style="font-weight:bold;"><%= ws[0] %></td>
<td align="center"><%= ws[1][:projects].size %></td>
<td><%= ws[1][:qr].sort_by{|qr| -qr[:projects].size}.map{|qr| "<a href='#' title='#{qr[:projects].map{|p| p.full_name}.join('.../...')}' >#{qr[:name]}</a> (#{qr[:projects].size})"}.join(', ') %><br/></td>
</tr>
