<%= @invalid_requests.size %> requests<br/>
<br/>
<table class="grid">
<tr class="header">
  <td>Request id</td>
  <td>Workstream</td>
  <td>Status</td>
  <td>Summary</td>
  <td>Assigned To</td>
  <td>Work package</td>
  <td>Milestone</td>
  <td>Milestone date</td>
  <td>PO</td>
</tr>
<%= render(:partial=>'invalid_request', :collection=>@invalid_requests) %>
</table>