<table class="grid">
<tr class="header">
  <td>SDP ID</td>
  <td>activity_id</td>
  <td>phase_id</td>
  <td>title</td>
  <td>request_id</td>
  <td>done</td>
  <td>initial</td>
  <td>reevaluated</td>
  <td>assigned</td>
  <td>consumed</td>
  <td>remaining</td>
  <!-- <td>revised</td>
  <td>gained</td> -->
  <td>iteration</td>
  <td>collab</td>
  <!-- <td>balancei</td>
  <td>balancer</td>
  <td>balancea</td> -->
</tr>
<%= render(:partial=>'sdp_wrong_task', :collection=>@sdp_wrong_tasks) %>
</table>