<script type="text/javascript">

function download_database() 
{ 
	$("result").update("Archive generated. Download started.")
    $("overlay").hide();
	var target = document.getElementById('target'); 
    var myFrame = document.createElement('iframe'); 
	myFrame.width = 0;
	myFrame.height = 0;
	myFrame.frameborder = 0;
    myFrame.setAttribute('src', "javascript:"); 
    myFrame.setAttribute('onload', "this.src='/tools/download_dump_database'"); 
    target.appendChild(myFrame);
	myFrame.hide();
	//new Ajax.Request('/tools/delete_bdd_dump_files');
} 
</script>

<%= link_to_remote "Download database dump", {:url => {:controller => "tools", :action => "create_dump_database" }, :success => "download_database();"},{:id => 'download_button'} %>

<div id="target"></div>
<div id="result"></div>
<div style="display:none;position:absolute;background-color:black;color:white;" id="overlay">
	<br />
	Dump generation in progress. Downloading will automatically start in a few seconds.<br />
	<%= image_tag("ajax-loader.gif") %><br />
</div>

<script type="text/javascript">
$("download_button").observe('click', function() {
    $("overlay").show();
	$("download_button").hide();
});

</script>