<%= render(:file=>"tools/menu.erb") %>

<h2>Last projects</h2>
<table class="grid sortable">
  <tr>
  <td>Creation</td>
  <td>Project</td>
  <td>DWS</td>
  <td>TODO</td>
  <td>PM</td>
  <td>QR</td>
  <td>Status</td>
  <td>WP</td>
  </tr>

  <%= render(:partial=>'last_project', :collection=>@projects, :as=>:p) %>
</table>

