<%= render(:file=>"tools/menu.erb") %>

<h2>QR for <%=@ws.name%></h2>

<table class="grid sortable">
<tr>
<td>QR</td>
<td>Total active projects</td>
<td>Projects</td>
</tr>

<%= render(:partial=>'qr_per_ws_detail', :collection=>@associations, :as=>:ws) %>
</table>

