<%= render(:file=>"tools/sdp_menu.erb") %>
<%= render(:file=>"tools/sdp_logs_menu.erb") %>

<table>
  <tr>
  <td>Name</td>
  <td>Initial</td>
  <td>Balance</td>
  <td>Percent</td>
  </tr>

  <%= render(:partial=>'sdp_people', :collection=>@people) %>
</table>

