<%= render(:file=>"tools/sdp_menu.erb") %>
<h2>People</h2>
<table>
<tr>
<td>Name</td>
<td>Initial</td>
<td>Balance</td>
<td>Percent</td>
</tr>

<%= render(:partial=>'sdp_people', :collection=>@people) %>
</table>

