<%= render(:file=>"tools/sdp_menu.erb") %>
<h2>SDP import</h2>
<%= form_tag({:action => 'do_sdp_upload'}, :multipart => true) %>
  <p>
    <label for="upload_file">SDP CSV</label>
    <%= file_field 'upload', 'datafile' %>
    <%= submit_tag "Upload" %>
  </p>
</form>
