<h2>Question Edit</h2>

<%= error_messages_for :question %>
<% form_for @question, :url=>{:action=>'update', :id=>@question.id} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= submit_tag 'OK' %></p>
<% end -%>
