<%= render(:file=>"tools/menu")%>

<h2>Generic risks</h2>
<%= link_to('Add question', {:controller=>'generic_risk_questions', :action=>'new'}, {:class=>'btnlnk'}) %><br/>
<br/>
A checked question is deployed (or "active", people will see it)<br/>

<% for axis in @axes %>

  <h4><%= axis.name %></h4>

  <ul>
    <%= render(:partial=>'question', :collection=>axis.generic_risk_questions, :as=>:q) %>
  </ul>

<% end %>
