<h2>Holidays</h2>
<% if current_user.has_role?('Admin') %>
<%= link_to('Add', {:action=>'new'},{:class=>"btnlnk"}) %>
<br/>
<% end %>
<br/>

<ul>
<!-- Week
Nb
Calendar -->
<%= render(:partial=>'holiday', :collection=>@holidays) %>
</ul>

