<h2>Holidays</h2>
<% if current_user.has_role?('Admin') %>
<%= link_to('Add a holiday', {:action=>'new'},{:class=>"btnlnk"}) %>
<%= link_to('Manage holidays calendars', {:controller=>'holidays_calendars', :action=>'index'},{:class=>"btnlnk"}) %>
<br/>
<% end %>
<br/>

<ul>
<%= render(:partial=>'holiday', :collection=>@holidays) %>
</ul>

