<h2>Add a holiday</h2>
<%= error_messages_for :holiday %>
<% form_for :@holiday, :url=>{:action=>'create'} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= submit_tag 'Add' %></p>
<% end -%>
