<h2>Milestone Edit</h2>

<% if @date_error.to_i == 2 %>
	<div style="color:red;">Date format error</div>
<% elsif @date_error.to_i == 1 %>
	<div style="color:red;">Conflict of date. Check previous or following milestone date.</div>
<% end %>

<%= error_messages_for :milestone %>
<% form_for @milestone, :url=>{:action=>'update', :id=>@milestone.id} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= submit_tag 'send' %></p>
<% end -%>

