<h2>Add a milestone</h2>
<%= error_messages_for :amendment %>
<% form_for :@amendment, :url=>{:action=>'create'} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= submit_tag 'Add' %></p>
<% end -%>
