<%= link_to "Back to project spider view", :controller=>'spiders', :action=>'project_spider', :project_id=>@spider.project_id, :milestone_name_id=>@spider.milestone_id, :create_spider=>0 %>

<%
concat "<h2>Spider [created the "
concat @spider.created_at.to_s
concat "] [Consolidated the "
concat @spider.spider_consolidations.first().created_at.to_s
concat "]</h2>"


# Each type
i = 0
@history.each { |p|
	currentAxes = ""
	currentAxeId = 0
	chartName = "chartContainer_"+i.to_s
	pmTabId = i.to_s
	
	# PM type
	concat "<p id='table_title_" + pmTabId + "'>"+@pmType[p[0]].to_s + '</p><table class="pm_type_tab" id="pm_' + pmTabId + '" style="border: 1px solid black;width: 400px;">'	

	# Each values
	j = 0
	
	p[1].each { |q|
		# Axes
		if(currentAxes != q.lifecycle_question.pm_type_axe.title)
			# Average
			if(j!=0)
				concat "<tr><td>Average</td>"
				concat "<td>"+@axesConsolidations[currentAxeId]["avg_note"]+"</td>"
				concat "<td>" +@axesConsolidations[currentAxeId]["avg_ref"]+"</td><tr>"
				currentAxeId = q.lifecycle_question.pm_type_axe.id
			else
				currentAxeId = q.lifecycle_question.pm_type_axe.id
			end
			
			# New Axes
			concat "<tr><td class='axe_tab' id='" + pmTabId + "_axe_" + q.lifecycle_question.pm_type_axe.id.to_s + "' colspan='3' style='border: 1px solid black;'>"+q.lifecycle_question.pm_type_axe.title+"</td></tr>"
			currentAxes = q.lifecycle_question.pm_type_axe.title
		end

		concat '<tr><td style="border: 1px solid blue;">' + q.lifecycle_question.text  + '</td>'
		concat '<td class="question_note_' + q.lifecycle_question.pm_type_axe.id.to_s + '" style="border: 1px solid black;">' + q.note + '</td>'
		concat '<td class="question_reference_' + q.lifecycle_question.pm_type_axe.id.to_s + '"  style="border: 1px solid red;">'
		if (q.reference)
			concat q.reference
		else
			concat "NI"
		end
		concat '</td></tr>'	
		j = j + 1
	}
	
	 concat "<tr><td>Average</td>"
	 concat "<td>"+@axesConsolidations[currentAxeId]["avg_note"]+"</td>"
	 concat "<td>" +@axesConsolidations[currentAxeId]["avg_ref"]+"</td><tr>"
	
	concat '</table>'
	i = i + 1
%>
	<div id="<%= chartName %>" style="width: 700px; height: 400px; margin: 0 auto"></div>
<%	
}

concat '<script type="text/javascript">$(function () {'
concat 'var consoDataArray = new Array();'
pmTypeIndex = 0
@consolidationData.each { |consoByPmType|
	pmTypeId = consoByPmType[0].to_s
	pmTypeName = @pmType[consoByPmType[0]].to_s
	
	concat 'consoDataArray["'+pmTypeIndex.to_s+'"] = new Array();'

	concat 'consoDataArray["'+pmTypeIndex.to_s+'"]["title"]="'+pmTypeName+'";'
	concat 'consoDataArray["'+pmTypeIndex.to_s+'"]["id"]="'+pmTypeId+'";'
	
	concat 'consoDataArray["'+pmTypeIndex.to_s+'"]["axes"]= new Array();'
	concat 'consoDataArray["'+pmTypeIndex.to_s+'"]["notes"]= new Array();'
	concat 'consoDataArray["'+pmTypeIndex.to_s+'"]["refs"]= new Array();'
	concat 'consoDataArray["'+pmTypeIndex.to_s+'"]["ni_nb"]= new Array();'
	
	# For each pmType, get conso (conso for one spider and one axe)
	consoByPmType[1].each { |c| 
		# AXE
		concat 'consoDataArray["'+pmTypeIndex.to_s+'"]["axes"].push("'+c.pm_type_axe.title+'");'
		
		# AVERAGE DATA
		concat 'consoDataArray["'+pmTypeIndex.to_s+'"]["notes"].push('+c.average.to_s+');'
		concat 'consoDataArray["'+pmTypeIndex.to_s+'"]["refs"].push('+c.average_ref.to_s+');'
		concat 'consoDataArray["'+pmTypeIndex.to_s+'"]["ni_nb"].push('+c.ni_number.to_s+');'
	}
	pmTypeIndex += 1
}
concat 'calculHistoryAverage(consoDataArray);});</script>'
%>