<h2>Edit</h2>

<strong>
<%= flash[:error] %><br/>
<%= error_messages_for :person %><br/>
</strong>
<% form_for :@person, :url=>{:action=>'update', :id=>@person.id} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= submit_tag 'Send' %></p>
<% end -%>

