<h2>People</h2>
<% if current_user.has_role?('Admin') %>
<%= link_to('Manage Roles', {:controller=>:roles, :action=>'index'},{:class=>"btnlnk"}) %>
<%= link_to('Add person', {:action=>'new'},{:class=>"btnlnk"}) %>
<br/>
<% end %>
<br/>

<ul>
  <%= render(:partial=>'person', :collection=>@people) %>
</ul>

