<h2>Edit a checklist item</h2>
<%= error_messages_for :ctemplate %>
<% form_for :@ctemplate, :url=>{:action=>'update', :id=>@ctemplate.id} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= submit_tag 'Edit' %></p>
<% end -%>

