<%= render(:file=>"tools/menu")%>
<h2>Checklist Templates per Workpackages</h2>
<%= render(:file=>"checklist_templates/menu")%>

<% 
# Workpackages loop
@workpackages.each do |w| 
  concat "<p><b> Workpackage : " + w.title + "</b></p><ul>"
  # Milestones loop
  @milestones.each do |m|
  concat "<li class='milestone_title'>" + m.title + "</li>"
%>
  <ul>
    <%= render :partial=>"ctemplate_per_wp", :collection=>@checklists, :locals => { :current_wp => w, :current_m => m } %>
  </ul>
<%
  end # End Milestones loop
  concat "</ul>"
end # End Workpackage loop
%>

<%=javascript_tag "check_list_per_wp()" -%>
