<%= render(:file=>"tools/menu")%>
<h2>Checklist Templates per Workpackages</h2>
<%= render(:file=>"checklist_templates/menu")%>

<% 
checklist_item_templates = ChecklistItemTemplate.all( :conditions => ["parent_id = 0 or parent_id = null"])
# Workpackages loop
@workpackages.each do |w| 
  concat "<p><b> Workpackage : " + w.title + "</b></p><ul>"
  # Milestones loop
  @milestones.each do |m|
	concat "<li>" + m.title + "</li>"
	
	#checklist_item_templates = ChecklistItemTemplate.all(:joins => [:workpackages, :milestone_names], :conditions => ["(parent_id = 0 or parent_id = null) and workpackages.id = ? and milestone_names.id = ? ", w.id, m.id])
%>
  <ul>
    <%= render :partial=>"ctemplate_per_wr", :collection=>checklist_item_templates, :locals => { :current_wp => w, :current_m => m } %>
  </ul>
<%
  end # End Milestones loop
  concat "</ul>"
end # End Workpackage loop
%>