<h2>Monthly Task Type Edit</h2>

<%= error_messages_for :monthlyTaskType %>
<% form_for @monthlyTaskType, :url=>{:action=>'update', :id=>@monthlyTaskType.id} do |f| -%>
  <%= render(:partial => f, :locals=>{:create=>0}) %>
  <p><label>&nbsp;</label>
  <%= submit_tag 'send' %></p>
<% end -%>

