<h2>Add a monthly task Type</h2>
<%= error_messages_for :monthlyTaskType %>
<% form_for @monthlyTaskType, :url=>{:action=>'create'} do |f| -%>
  <%= render(:partial => f, :locals=>{:create=>1}) %>
  <p><label>&nbsp;</label>
  <%= submit_tag 'Add' %></p>
<% end -%>
