<div id="center">
  <div id="welcome">Welcome <%= current_user.name %> !</div>

  <ul id="last_changes">
    <li><b>04-Dec:</b> Migré vers le nouvel SDP et fait marché l'import (phase, activités, etc. Tous les ID ont été changés)</li>
  </ul>

  <div class="center">
    <div onclick="location='/projects'"         class="big_button reporting"
      onmouseover="$('reporting_sub').appear({duration:0.3});">
      <div class="btitle">Reporting</div>
      <ul class="submenu reporting" style="display:none" id="reporting_sub">
        <li><a href="/projects">Reporting</a></li>
        <li><a href="/topics">Topics</a></li>
      </ul>
    </div>

    <div onclick="location='/workloads'"        class="big_button workload">Workload</div>

    <div onclick="location='/tools/sdp_index'"  class="big_button tools"
      onmouseover="$('manage_sub').appear({duration:0.3});">
      <div class="btitle">Manage</div>
      <ul class="submenu manage" style="display:none" id="manage_sub">
        <li><a href="/tools/sdp_index">SDP</a></li>
        <li><a href="/requirements">Requirements</a></li>
        <li><a href="/notes/list">Capitalisations</a></li>
        <li><a href="/generic_risk_questions">Standard risks</a></li>
        <li><a href="/tools/">Other awesome tools</a></li>
      </ul>

      </div>
  </div>
  <% 15.times do %>
    <br/>
  <% end  %>
  <div class="center">
    <div onclick="location='/sessions/logout'" class="big_button logout">Log out</div>
  </div>
</div>

