<div id="center">
  <div id="welcome">Welcome <%= current_user.name %> !</div>

  <ul id="last_changes" style="color: white;">
    <li><b>10-Nov:</b> Service requirements management (première version Pierre!)</li>
    <li><b>9-Nov:</b> Notes can be used to capitalize Lessons Learnt</li>
  </ul>

  <br/>
  <br/>

  <div onclick="location='/projects'"   id="reporting" class="big_button">Reporting</div>
  <div onclick="location='/workloads'"  id="workload" class="big_button">Workload</div>
  <div onclick="location='/tools/sdp_index'"      id="tools" class="big_button">&nbsp;&nbsp;Tools&nbsp;&nbsp;</div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div onclick="location='/sessions/logout'" id="logout" class="big_button">Log out</div>
</div>

