<div id="center">
  <div id="welcome">Welcome <%= current_user.name %> !</div>

  <ul id="last_changes" style="color: white;">
    <li><b>10-Nov:</b> Service requirements management (première version Pierre!)</li>
    <li><b>9-Nov:</b> Notes can be used to capitalize Lessons Learnt</li>
  </ul>

  <br/>
  <br/>
  <div class="center">
    <div onclick="location='/projects'"         class="big_button reporting">Reporting</div>
    <div onclick="location='/workloads'"        class="big_button workload">Workload</div>
    <div onclick="location='/tools/sdp_index'"           class="big_button tools"
      onmouseover="$('manage_sub').appear({duration:0.3});">
      <div class="btitle">Manage</div>
      <ul class="submenu" style="display:none" id="manage_sub">
        <li><a href="/tools/sdp_index">SDP</a></li>
        <li><a href="/requirements">Requirements</a></li>
        <li><a href="/notes/list">Capitalisations</a></li>
        <li><a href="/generic_risk_questions">Standard risks</a></li>
        <li><a href="http://www.amazon.com/How-Manage-Your-Mother-Understanding/dp/0060988339">Your mother</a></li>
        <li><a href="/tools/">Other awesome tools</a></li>
      </ul>

      </div>
  </div>
  <% 15.times do %>
    <br/>
  <% end  %>
  <div class="center">
    <div onclick="location='/sessions/logout'" class="big_button logout">Log out</div>
  </div>
</div>

