<div id="center">
  <div id="welcome">Welcome <%= current_user.name %> !</div>

  <ul id="last_changes" style="color: white;">
    <li><b>27-Oct:</b> Les tickets contre-visites dans les checklistes
    sont maintenant assignées au bon jalon
    si le champ "Contre-Visite Milestone" du ticket dans RMT est bien renseigné.
    Les checklistes pourraient ne pas être à jour et il faut faire appel à
    Steph ou Mickael pour corriger chaque défaut s'il en reste (il faut être
    admin pour le faire). C'est pas parfait mais je fais au mieux :)</li>
  </ul>
  <br/>
  <br/>

  <div onclick="location='/projects'"   id="reporting" class="big_button">Reporting</div>
  <div onclick="location='/workloads'"  id="workload" class="big_button">Workload</div>
  <div onclick="location='/tools/sdp_index'"      id="tools" class="big_button">&nbsp;&nbsp;Tools&nbsp;&nbsp;</div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div onclick="location='/sessions/logout'" id="logout" class="big_button">Log out</div>
</div>

