<div id="center">
  <div id="welcome">Welcome <%= current_user.name %> !</div>

  <ul id="last_changes" style="color: white;">
    <li><b>13-Oct:</b> Incroyable mais vrai, ce texte est maintenant lisible</li>
    <li><b>11-Oct:</b> Les différences > 20% entre planned et le RAF SDP sont indiqués en bleu dans les PDC si la tâche n'est pas encore dans SDP</li>
    <li><strong>Appuyez sur F5 pour recharger les styles si ce n'est pas le cas</strong></li>
    <li><b>11-Oct:</b> Le BAM se souvient maintenant du dernier onglet ouvert (sur la page des projets et la page de détail d'un projet)</li>
    <li><b>11-Oct:</b> Correction: Les risques génériques n'étaient pas importés si plusieurs risques étaient associés à une question</li>
    <li><b>10-Oct:</b> Les gains SDP sont affichés et historisés sur la page des workloads</li>
  </ul>
  <br/>
  <br/>

  <div onclick="location='/projects'"   id="reporting" class="big_button">Reporting</div>
  <div onclick="location='/workloads'"  id="workload" class="big_button">Workload</div>
  <div onclick="location='/tools/sdp_index'"      id="tools" class="big_button">&nbsp;&nbsp;Tools&nbsp;&nbsp;</div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div onclick="location='/sessions/logout'" id="logout" class="big_button">Log out</div>
</div>

