<div id="center">
  <div id="welcome">Welcome <%= current_user.name %> !</div>

  <ul id="last_changes">
    <li><b>01-Dec:</b> Nouveau: check entre RMT et BAM sur les dates de milestones dans Tools</li>
    <li><b>01-Dec:</b> Yavait un bug sur l'ajout d'une ligne dans les workloads depuis que j'ai mis le graph SDP. Personne a rien dit donc à priori ça gênait personne.... hum....</li>
    <li><b>30-Nov:</b> Les lignes d'un workload peuvent être transférées à qqn d'autre en masse facilement. JF, tu as les lignes :)</li>
    <li><b>28-Nov:</b> Fixé un bug sur changement de workload</li>
  </ul>

  <div class="center">
    <div onclick="location='/projects'"         class="big_button reporting">Reporting</div>
    <div onclick="location='/workloads'"        class="big_button workload">Workload</div>
    <div onclick="location='/tools/sdp_index'"           class="big_button tools"
      onmouseover="$('manage_sub').appear({duration:0.3});">
      <div class="btitle">Manage</div>
      <ul class="submenu" style="display:none" id="manage_sub">
        <li><a href="/tools/sdp_index">SDP</a></li>
        <li><a href="/requirements">Requirements</a></li>
        <li><a href="/notes/list">Capitalisations</a></li>
        <li><a href="/generic_risk_questions">Standard risks</a></li>
        <li><a href="http://www.amazon.com/How-Manage-Your-Mother-Understanding/dp/0060988339">Your mother</a></li>
        <li><a href="/tools/">Other awesome tools</a></li>
      </ul>

      </div>
  </div>
  <% 15.times do %>
    <br/>
  <% end  %>
  <div class="center">
    <div onclick="location='/sessions/logout'" class="big_button logout">Log out</div>
  </div>
</div>

