<div id="center">
  <div id="welcome">Welcome <%= current_user.name %> !</div>

  <!--
  <ul id="last_changes" style="color: white;">
    <li><b>14-Oct:</b> Lien vers le projet (et donc la frise) depuis les workloads (j'ai juste mis 3 mois à le faire, désolé Virginie)</li>
  </ul>
  -->
  <br/>
  <br/>

  <div onclick="location='/projects'"   id="reporting" class="big_button">Reporting</div>
  <div onclick="location='/workloads'"  id="workload" class="big_button">Workload</div>
  <div onclick="location='/tools/sdp_index'"      id="tools" class="big_button">&nbsp;&nbsp;Tools&nbsp;&nbsp;</div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div onclick="location='/sessions/logout'" id="logout" class="big_button">Log out</div>
</div>

