<div id="center">
<div id="welcome">Welcome <%= current_user.name %> !</div>

<ul id="last_changes">
<li><b>24-July:</b> We can add SDP tasks to workloads</li>
<li><b>23-July:</b> Milestones are displayed in the workload</li>
<li><b>20-July:</b> We can delete workload lines (at last!)</li>
</ul>
<br/>
<br/>

<div onclick="location='/projects'"   id="reporting" class="big_button">Reporting</div>
<div onclick="location='/workloads'"  id="workload" class="big_button">Workload</div>
<div onclick="location='/tools/sdp_index'"      id="tools" class="big_button">&nbsp;&nbsp;Tools&nbsp;&nbsp;</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div onclick="location='/sessions/logout'" id="logout" class="big_button">Log out</div>
</div>

