<h2>Edit</h2>

<%= error_messages_for :impact %>
<% form_for @impact, :url=>{:action=>'update', :id=>@impact.id} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= submit_tag 'Edit' %></p>
<% end -%>

<% if @impact.person %>
<p>Last edited by <%=@impact.person.name%> </p>
<% end %>

