<link rel="stylesheet" href="/stylesheets/jquery-ui.css" />
<script src="/javascripts/jquery-1.9.1.js"></script>
<script src="/javascripts/jquery-ui.js"></script>
<script>
  $(function() {
    $( "#task_start_date" ).datepicker();
    });
  $(function() {
    $( "#task_end_date" ).datepicker();
    });
</script>

<h2>Task Edit</h2>

<%= error_messages_for :task %>
<% form_for @task, :url=>{:action=>'update', :id=>@task.id} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= submit_tag 'send' %></p>
<% end -%>
