<table>
<tr style="background-color: #DDD;font-weight:bold;">
<td width="20">#</td>
<td width="160">Supervisor</td>
<td width="400">Topic</td>
<td width="160">Created/Closed on</td>
<td width="300">Decision</td>
<td width="40">Edit</td>
</tr>
