<h2>Progress Meeting Topics</h2>
<%= link_to('New', {:action=>'new'}, {:class=>'btnlnk'}) %><br/>
<br/>
<b>Topics to be discussed at monday progress meeting (generally about requests, but not only).</b><br/>
<br/>
<%= @topics.size %> topics<br/>
<%= select(:topic, :filter, @supervisors, {:include_blank => "=== choose ==="}, {:onchange=>"new Ajax.Updater('list', '/topics/refresh?filter='+this.value)"}) %>

<div id="list">
<%= render(:partial=>'list') %>
</div>

<br/>
<br/>

