<%= render(:file=>"tools/menu") %>

<h2>Requirements</h2>
<%= render(:file=>"requirements/menu") %>
<br/>

<table class="grid">
  <tr class="header">
  <td>ID</td>
  <td>Short Name</td>
  <td>Requirement</td>
  <td>State</td>
  <td>Type</td>
  <td>Wave</td>
  <td>Source</td>
  <td></td>
  </tr>

  <%= render(:partial=>'req', :collection=>@reqs) %>
</table>

