<%= render(:file=>"tools/menu") %>

<h2>Requirements</h2>
<%= render(:file=>"requirements/menu") %>
<br/>

<table class="sortable">
  <tr class="header">
  <td>ID</td>
  <td>Version</td>
  <td>Source ID</td>
  <td>Short Name</td>
  <td>Requirement</td>
  <td>Req Date</td>
  <td>Priority</td>
  <td>Status</td>
  <td>Status date</td>
  <td>Type</td>
  <td>Wave</td>
  <td>Source</td>
  <td>Modifier</td>
  <td>Is Covered</td>
  <td>Detail on cover</td>
  <td>Last review</td>
  <td></td>
  <td></td>
  </tr>

  <%= render(:partial=>'req', :collection=>@reqs) %>
</table>

