<tr>
<td><%= conso_line.person.name %></td>
<td align="center"><%= conso_line.next_month_percents %>%</td>
<td align="center"><%= conso_line.three_next_months_percents %>% (<%= conso_line.three_next_months_percents-conso_line.next_month_percents %>)</td>
</tr>
