<%
isBackup = ""
if l.parent_line
  isBackup = "[BACKUP]"
end
%>
<tr class="duplicate_line_tr">
  <td class="duplicate_line_title"><%= isBackup %><%= l.name %></td>
 	 <%= render(:partial=>"duplicate_load", :collection=>wl_weeks, :as=>:week, :locals => { :l => l, :is_qr_qwr => is_qr_qwr } ) %>
<tr>

