<div id="tabs">
  <ul>
    <li style="margin-left: 1px" id="tabHeaderActive"><a href="javascript:void(0)" onClick="toggleTab(1,2)"><span>Loading</span></a></li>
    <li id="tabHeader2"><a href="javascript:void(0)" onClick="toggleTab(2,2)" ><span>COnsolidation</span></a></li>
  </ul>

  <div id="tabscontent">
    <div id="tabContent1" class="tabContent" style="display:yes;">
        <br />
        <div>
        Des infos g&eacute;n&eacute;rales bientot sur vos &eacute;crans !
        </div>
    </div>

    <div id="tabContent2" class="tabContent" style="display:none;">
        <br />
        <div id="conso_workloads">
          Please wait, updating...
        </div>
    </div>
  </div><!--End of tabscontent-->
</div><!--End of tabs-->
