<%= @lines.size %> lines without SDP tasks<br/>
<br/>
<table class="sortable">
  <thead>
    <td>Project</td>
    <td>Person</td>
    <td>Planned</td>
    <td>Sum</td>
    <td>Del</td>
    <td>Line</td>
  </thead>
  <%= render(:partial=>'conso_missing_task_line', :collection=>@lines, :as=>:line) %>
</table>
