<%= @workloads.size %> workloads<br/>
<br/>

<table>
  <tr style="font-weight:bold;">
    <td>Name</td>
    
<%
  for week in @workloads.first.weeks
%>
    <td>
      <%= week %>
    </td>
<% end %>

    
  </tr>
  <%= render(:partial=>'conso_holidays', :collection=>@workloads) %>
</table>

<br />
<div>
  <div class="conso_legend" style="background-color:#9F9;">OK</div>
  <div class="conso_legend" style="background-color:#91E9FF;">OK (with a backup)</div>
  <div class="conso_legend" style="background-color:red;">Need a backup</div>
  <div class="conso_legend" style="background-color:pink;">Backup without holiday</div>
</div>

<SCRIPT language="Javascript">
  jQuery( document ).ready(function() {
    jQuery(".holiday_td").hover(
      function(e) {
      	if (holiday_hover_detail[jQuery( this ).attr('id')].length > 0)
      	{
        	jQuery("#holiday_detail").show();
        	jQuery("#holiday_detail").html(holiday_hover_detail[jQuery( this ).attr('id')]);
        	jQuery("#holiday_detail").css({top:e.pageY, left:e.pageX});
        }
      }, function() {
      	    jQuery("#holiday_detail").hide();
      }
    );
  });

</SCRIPT>