<%= @workloads.size %> workloads<br/>
<br/>
<table>
  <tr style="font-weight:bold;">
    <td>Name</td>
    
<%
  for week in @workloads.first.weeks
%>
    <td>
      <%= week %>
    </td>
<% end %>

    
  </tr>
  <%= render(:partial=>'conso_holidays', :collection=>@workloads) %>
</table>

<SCRIPT language="Javascript">
  jQuery( document ).ready(function() {
    jQuery(".holiday_td").hover(
      function(e) {
      	if ((holiday_hover_detail[jQuery( this ).attr('id')].length > 0) && (jQuery(this).html().trim()))
      	{
        	jQuery("#holiday_detail").show();
        	jQuery("#holiday_detail").html(holiday_hover_detail[jQuery( this ).attr('id')]);
        	jQuery("#holiday_detail").css({top:e.pageY, left:e.pageX});
        }
      }, function() {
      	    jQuery("#holiday_detail").hide();
      }
    );
  });

</SCRIPT>