<%= @tasks.size %> tasks with remaining but without workload lines<br/>
<br/>
<table class="sortable">
  <thead>
    <td>Project</td>
    <td>Collab</td>
    <td>Work</td>
    <td>Task</td>
  </thead>
  <%= render(:partial=>'conso_missing_wl_lines', :collection=>@tasks, :as=>:task) %>
</table>
