<% if @workloads.size > 0 %>
  <table class="refresh_conso_table">
    <tr style="font-weight:bold;">
      <td colspan="10"></td>
      <% for w in @workloads.first.months %>
        <td style="text-align:center;"><%= w %></td>
      <% end %>
    </tr>

    <tr style="font-weight:bold;">
      <td style="min-width:200px">Name</td>
      <td>WL</td>
      <td>BAM</td>
      <td>TBP</td>
      <td>Edit</td>
      <td>Update</td>
      <td>To plan</td>
      <td>Next 5 weeks</td>
      <td>Next 3 months</td>
      <td>Avail 8w</td>
      <% for w in @workloads.first.weeks %>
        <td style="text-align:center;"><%= w %></td>
      <% end %>
    </tr>

    <%= render(:partial=>'tbp_line', :collection=>@workloads) %>

  </table>
<% end %>
