<%= @workloads.size %> workloads<br/>
<br/>
<table>
  <tr style="font-weight:bold;">
    <td>Name</td>
    <td>Next 5 weeks</td>
    <td>Next 3 months</td>
  </tr>
  <%= render(:partial=>'conso_line', :collection=>@workloads) %>
</table>
