div#banner {
  background: #89A;
  border-bottom: 1px solid #000;
}

#title {
  color: #227;
  }

.menu:hover {
  background: #EEE;
  box-shadow: inset 4px 4px 4px #89A;
  -moz-box-shadow: inset 4px 4px 4px #89A;
  -webkit-box-shadow: inset 4px 4px 4px #89A;
  }

.menu.active {
  background: #99F;
  }

.warning {
  color: red;
}

.alert {
  color: orange;
}

.bold {
  font-weight: bold;
}

.bold_colored {
  font-weight: bold;
  color: green;
}

.log_message 
{
  font-weight: bold;
  background: #89A;
  color: red;
  opacity: 0.8;
  padding:10px;
  width:100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
}