body {
  background: url(/images/bg/ciel-lumineux.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #000;
}

#center {
  width: 100%;
  text-align:center;
}

div#banner {
  /*background: #AC8; */ /* automn */
  background: #446391; /* winter */
  border-bottom: 1px solid #005;
}

.title {
  font-family: 'Stardos Stencil', serif;
  font-size: 3em;
  /*color: #444; */ /* automn */
  color: #9e9a96;
}

.subt {
  font-family: 'Zeyada', serif;
  font-size: 2.5em;
  margin: -10px 0 0 0;
  color: #e3e3e1;
}

.tag {
  position:fixed;
  top: 20px;
  left: 430px;
  font-family: 'Special Elite', serif;
  font-size: 1.8em;
  /*color: #A00; */ /* automn */
  color: #c04250;
}

#last_changes {
  background: #FFF;
  opacity: 0.7;
  padding:10px;
  margin: 10px;
  border: 1px solid #666;
  border-radius: 15px;
  color: black;
  -moz-border-radius: 15px;
  text-align: left;
}
#last_changes li {
  color: #000;
}


h2 {
  font-family: 'Stardos Stencil', serif;
  font-weight: normal;
  background: #DDD;
  border: 1px solid #005;
  color: #000;
  margin: 100px 0 0 0;
}

.chrome {
  position:fixed;
  top: 16px;
  right: 16px;
}
.center {
    margin-left:  auto;
    margin-right: auto;
    width: 80%;
  }
.big_button {
  cursor: pointer;
  text-align: center;
  font-family: 'Zeyada', serif;
  font-size: 4em;
  color:black;
  border: 1px solid #678;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  opacity: 0.6;
  width: 180px;
  float: left;
}
.big_button ul {
  margin: 0px;
  margin-top:-20px;
  }
.submenu.reporting li {
  font-size: 0.25em;
  font-family: 'Arial', serif;
  text-align: left;
  font-family: 'Stardos Stencil', serif;
  }
.submenu.reporting li a:visited {
  color:#FFF;
  }
.submenu.manage li {
  font-size: 0.25em;
  font-family: 'Arial', serif;
  text-align: left;
  font-family: 'Stardos Stencil', serif;
  }
.submenu.manage li a:visited {
  color:#444;
  }

.big_button:hover {
  opacity: 1;
  }
.big_button.reporting {
  background: #08A;
  }
.big_button.workload {
  background: #F90;
  }

.big_button.ci {
  background: #C050C0;
  }

.big_button.sdp {
  background: #DDD;
  }
.big_button.tools {
  background: #FFF;
  }
.big_button.logout {
  background: #FFF;
  font-size: 2em;
  float:right;
  width:auto;
  }

#welcome {
  font-family: 'Zeyada', serif;
  font-size: 3em;
  color: #000;
  padding: 0px;
  margin: 0px;
}

