body {
  background: url(/images/bg/autumn.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #000;
}

#center {
  width: 100%;
  text-align:center;
}

div#banner {
  background: #AC8;
  border-bottom: 1px solid #005;
}

.title {
  font-family: 'Stardos Stencil', serif;
  font-size: 3em;
  color: #444;
}

.subt {
  font-family: 'Zeyada', serif;
  font-size: 2.5em;
  margin: -10px 0 0 0;
  color: #FFF;
}

.tag {
  position:fixed;
  top: 20px;
  left: 430px;
  font-family: 'Special Elite', serif;
  font-size: 1.8em;
  color: #A00;
}

h2 {
  font-family: 'Stardos Stencil', serif;
  font-weight: normal;
  background: #DDD;
  border: 1px solid #005;
  color: #000;
  margin: 100px 0 0 0;
}

.chrome {
  position:fixed;
  top: 16px;
  right: 16px;
}

.big_button {
  cursor: pointer;
  display: inline;
  text-align: center;
  font-family: 'Zeyada', serif;
  font-size: 5em;
  color:black;
  border: 1px solid #678;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  -moz-border-radius: 15px;
}
#logout {
  cursor: pointer;
  display: inline;
  text-align: center;
  font-family: 'Zeyada', serif;
  font-size: 3em;
  color: #777;
  border: 1px solid #777;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  background: #FFF;
  opacity: 0.7;
}
#logout:hover {
  opacity: 1;
  }

#reporting.big_button {
  background: #08A;
  opacity: 0.7;
  }
#reporting.big_button:hover {
  opacity: 1;
  }

#workload.big_button {
  background: #F90;
  opacity: 0.7;
  }
#workload.big_button:hover {
  opacity: 1;
  }
#tools.big_button {
  background: #DDD;
  opacity: 0.7;
  }
#tools.big_button:hover {
  opacity: 1;
  }
#welcome {
  font-family: 'Zeyada', serif;
  font-size: 3em;
  color: #000;
  padding: 0px;
  margin: 0px;
}
#last_changes {
  background: #FFD;
  opacity: 0.8;
  padding:10px;
  margin: 10px;
  border: 1px solid #666;
  border-radius: 15px;
  color: black;
  -moz-border-radius: 15px;
  text-align: left;
}

#last_changes  li {
  color: #000;
}

