div#banner {
  background: #FA0;
  border-bottom: 1px solid #000;
}

#title {
  color: #722;
  }

.menu:hover {
  background: #EEE;
  box-shadow: inset 4px 4px 4px #89A;
  -moz-box-shadow: inset 4px 4px 4px #89A;
  -webkit-box-shadow: inset 4px 4px 4px #89A;
  }

.menu.active {
  background: #F80;
  }

.menu.active:hover {
  background: #F80;
  box-shadow: inset 4px 4px 4px #F90;
  -moz-box-shadow: inset 4px 4px 4px #F90;
  -webkit-box-shadow: inset 4px 4px 4px #F90;
  }

h2 {
  background: #FD0;
  border: 1px solid #005;
}


/* Workloads */

.fht-table-wrapper {
  margin:10px;
  border: 1px solid #888;
  }

.fht-thead {
  margin: 0;
  padding:0;
  background: #555;
  color:#FFF;
  border-bottom: 1px solid #000;
  }

th {
  text-align: center;
  min-width: 35px;
  border: 1px solid #444;
  }

.fht-table-wrapper td {
  border: 1px solid #DDD;
  }

#workload_table {
  /*white-space: nowrap;*/
  }
  
#workload_table tr:hover #workload_qs_spider_table tr:hover {
  background: #FFA;
  }

.wl_names {
  text-align: left;
  /*white-space: nowrap;*/
  min-width: 600px;
  }

.wl_case {
  border: 1px solid #DDD;
  min-width: 35px;
  margin: 0;
  padding:0;
  text-align: center;
  color: #555;
  }

.wl_case input {
  color: #555;
  text-align: center;
  }

.wl_textfield {
  border: 0;
  width: 40px;
  }

tr.wl_total {
  border: 0px solid #DDD;
  border-top: 1px;
  color: #AB8;
  text-align: center;
  }

.wl_total {
  border: 0px solid #DDD;
  border-top: 1px;
  color: #690;
  text-align: center;
  }

tr.wl_opens {
  color: #999;
  }

.wl_line_200 {
  background: #DDF;
  }
.wl_line_300 {
  background: #DFD;
  }
.wl_line_400 {
  background: #FCC;
  }
.wl_line_500 {
  background: #CCC;
  }

.wl_line_virtual {
  background: #FFD;
  }
.wl_line_virtual .wl_case input {
  background: #FFD;
  }
.wl_line_110,.wl_line_120 {
  background: #A8FFE1;
  }
.wl_line_200 .wl_case input {
  background: #EEF;
  }
.wl_line_300 .wl_case input {
  color: #595;
  background: #EFE;
  }
.wl_line_400 .wl_case input {
  color: #A55;
  background: #FEE;
  }
.wl_line_110 .wl_case input,.wl_line_120 .wl_case input {
 color: #3600FF;
 background: #C9FFF9;
 }

.wl_case input.milestone {
  background: #FAA;
  border: 0;
  width: 40px;
  }

.wl_case input.workload_milestone {
  background: #FAA;
  border: 0;
  width: 40px;
  }

.delete {
  }
.delete:hover{
  color: #F33;
  }

.wlerror, .wlerror1, .wlerror2, .wlerror3 {
  text-align: center;
  }

.wlerror {
  background: #FAA;
  }
.wlerror1 {
  background: #FAA;
  }
.wlerror2 {
  background: #FDA;
  }
.wlerror3 {
  background: #FDF;
  }

.wlpositive {
  background: #81F781;
  text-align: center;
}

/* FIXME: not DIY */
.wlerror.no_sdp{
  background: #AAF;
  text-align: center;
  }
.wlerror1.no_sdp{
  background: #AAF;
  text-align: center;
  }
.wlerror2.no_sdp{
  background: #AAF;
  text-align: center;
  }

/* TABLE WORKLOAD BY STREAM FOR QS/SPIDER */
table.workload_qs_spider_table th {
  background-color:#FF9000;
  color:white;
}
table.workload_qs_spider_table tr.stream_line {
  background-color:#5100FF;
  color:white;
}
table.workload_qs_spider_table td.load_values {
  font-size:18px;
}

/* STATUSES AVAILABILITY */
#availabilities_legends_table {
	float:right;
}
.refresh_conso_table td {
	padding : 2px 0 2px 2px;
}

td.availability {
  text-align: center;
}

td.availability.x0 {
	background-color: #EEEEEE;
}
td.availability.x1 {
	background-color: #FFFFA0;
}
td.availability.x2 {
	background-color: #FFEEA0;
}
td.availability.x3 {
	background-color: #FFD9A1;
}
td.availability.x4 {
	background-color: #FFA1A1;
}
td.availability.x5 {
	background-color: #000000;
	color: #FFFFFF;
}

#wmenu {
  border: 2px solid #DDD;
  margin: 0;
  padding:10px;
}
#wmenu_close {
  right:5px;
  position:fixed;
}

/* DUPLICATE */
.duplicate_tr_header
{
	background-color:#E5F5CA;
}
.duplicate_line_tr
{
	border:1px solid black;
	height:40px;
	opacity:1.0;
}
.duplicate_line_tr:hover
{
	opacity:0.6;
}
.duplicate_line_title
{
	border:1px solid black;
	background-color: #CFDEF5;
}
.duplicate_load_td
{
	border:1px solid black;
	text-align:center;
}
.duplicate_load_empty
{
	background-color: grey;
}
.wl_load_checkbox
{
	display:none;
}

.workload_msg {
  float:right;
  width: 500px;
  border:1px solid #DDD;
  background: #FDD;
  color: #444;
  margin: 0;
  padding: 2px 10px 2px 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
}
ul.sdp_tasks {
  list-style-type: decimal-leading-zero;
  margin:0;
  }
.color_picker {
  margin: 0;
  border: 0;
  padding: 0;
  color: #333;
  width: 40px;
}

.wl_tag {
  padding-left: 5px;
  color: red;
  font-size:0.8em;
}