div#banner {
  background: #FA0;
  border-bottom: 1px solid #000;
}

#title {
  color: #722;
  }

.menu:hover {
  background: #EEE;
  box-shadow: inset 4px 4px 4px #89A;
  -moz-box-shadow: inset 4px 4px 4px #89A;
  -webkit-box-shadow: inset 4px 4px 4px #89A;
  }

.menu.active {
  background: #F80;
  }

.menu.active:hover {
  background: #F80;
  box-shadow: inset 4px 4px 4px #F90;
  -moz-box-shadow: inset 4px 4px 4px #F90;
  -webkit-box-shadow: inset 4px 4px 4px #F90;
  }

h2 {
  background: #FD0;
  border: 1px solid #005;
}


/* Workloads */

.fht-table-wrapper {
  margin:10px;
  border: 1px solid #888;
  }

.fht-thead {
  margin: 0;
  padding:0;
  background: #555;
  color:#FFF;
  border-bottom: 1px solid #000;
  }

th {
  text-align: center;
  min-width: 35px;
  border: 1px solid #444;
  }

.fht-table-wrapper td {
  border: 1px solid #DDD;
  }

#workload_table tr:hover {
  background: #FFA;
  }

.wl_names {
  text-align: left;
  min-width: 600px;
  }

.wl_case {
  border: 1px solid #DDD;
  min-width: 35px;
  margin: 0;
  padding:0;
  }

.wl_case input {
  color: #555;
  }
.wl_case input.milestone {
  background: #FAA;
  border: 0;
  width: 40px;
  }

.wl_textfield {
  border: 0;
  width: 40px;
  }

tr.wl_total {
  border: 1px 0 0 0 solid #DDD;
  color: #AB8;
  }

.wl_total {
  border: 1px 0 0 0 solid #DDD;
  color: #690;
  }


tr.wl_opens {
  color: #999;
  }

.wl_line_200 {
  background: #DDF;
  }
.wl_line_300 {
  background: #DFD;
  }
.wl_line_400 {
  background: #FDD;
  }
.wl_line_200 .wl_case input {
  background: #EEF;
  }
.wl_line_300 .wl_case input {
  color: #595;
  background: #EFE;
  }
.wl_line_400 .wl_case input {
  color: #A55;
  background: #FEE;
  }

.delete {
  }
.delete:hover{
  color: #F33;
  }

.wlerror {
  background: #FAA;
  }
  
.wlerror.no_sdp{
  background: #AAF;
  }
