body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  background: #FFF;
  }
div#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #000;
  padding:3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  }
div#footer a {
  color:#FFF;
  }
div#footer a:visited {
  color:#FFF;
  }

div#banner {
  margin: 0;
  position: fixed;
  top: 0;
  left: auto;
  width: 100%;
  height: 80px;
  z-index:100;
}
div#banner #context_select {
  background-color: transparent;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
div#banner #context_select_box {
  font-size:0.8em;
  position: fixed;
  top: 0;
  right: 0;
  text-align:right;
}
img {
  border: 0px;
}
p {
  line-height: 12px;
  }
#title {
  margin: -20px 0 0 0;
  padding: 5px 10px 0px 10px;
  font-family: "Zeyada";
  font-size:4em;
  }
.menu {
  color:black;
  border: 1px solid #678;
  padding: 5px;
  margin: 2px;
  background: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  }
#menu_bar {
  position: fixed;
  top: 53px;
  margin: -2px 0 0 0;
  }
.menu.special {
  color:black;
  border: 1px solid #678;
  padding: 5px;
  margin: 2px;
  background: #DDD;
  border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: inset 2px 2px 2px #CCC;
  -moz-box-shadow: inset 2px 2px 2px #CCC;
  -webkit-box-shadow: inset 2px 2px 2px #CCC;
  }

#menu_bar li {
/* make the list elements a containing block for the nested lists */
position: relative;
} 

#menu_bar ul ul {
position: absolute;
top: 100%;
left: 0; /* to position them to the right of their containing block */
width: 100%; /* width is based on the containing block */
}

#menu_bar ul {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

#menu_bar ul li {
  display: inline;
}

#menu_bar ul li ul
{display: none;}

#menu_bar ul li:hover ul {
  z-index: 100;
  display: block;
  width: 240px;
  position: absolute;
  background: #AAA;
  border: 1px solid #666;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  box-shadow: 5px 5px 5px #888;
}

#menu_bar ul li:hover ul li {
  display: block;
  /*border-bottom: 1px solid #AAA;*/
  background: #EEE;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#DDD));
  padding: 5px;
  margin: 1px;
}

#menu_bar ul li:hover ul li.hsep {
  padding: 5px;
  background: #AAF;
  background: -webkit-gradient(linear, left top, left bottom, from(#779), to(#005));
  font-weight: bold;
  color: #FFF;
}

#menu_bar ul li:hover ul li a {
  color: #000;
}

#menu_bar ul li ul li:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF8), to(#FFD));
}

.grey {
  border: 1px solid #999;
  background: #DDD;
  }
h2 {
  font-family: 'Stardos Stencil', serif;
  font-weight: normal;
  background: #ABC;
  margin: 10px 40px 10px -15px;
  padding: 0 0 0 15px;
  border: 1px solid #789;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
h3 {
  margin: 20px -5px 20px -15px;
  padding: 0 0 0 15px;
  text-shadow: #FFF 0.1em 0.1em 0.1em;
}
.panel {
  background: #EEF;
  margin: 20px 0px 20px 0;
  padding: 0 10px 10px 10px;
  border: 1px solid #789;
  box-shadow: 4px 4px 4px #89A;
  -moz-box-shadow: 4px 4px 4px #89A;
  -webkit-box-shadow: 4px 4px 4px #89A;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
#submenu {
  position: fixed;
  width: 100%;
  background: #FFF;
  margin: -9px 0 0 0;
  padding: 10px 0 5px 0;
}
#subcontent {
  padding: 60px 0 0 0;
}
a {text-decoration:none;}
.btnlnk {
  border: 1px solid #ABC;
  padding: 2px;
  margin: 0px;
  background: #CDF;
  border-radius: 3px;
  -moz-border-radius: 5px;
}
.btnlnk.notimportant {
  background: #EEE;
}
.btnlnk.special {
  background: #FDC;
  border: 1px solid #CBA;
  }
.btnlnk.special {
  background: #FDC;
  border: 1px solid #CBA;
  }
.btnlnk.special:hover {
  background: #FCB;
  box-shadow: inset 2px 2px 2px #876;
  -moz-box-shadow: inset 2px 2px 2px #876;
  -webkit-box-shadow: inset 2px 2px 2px #876;
  }
.btnlnk:hover {
  background: #BCF;
  box-shadow: inset 2px 2px 2px #678;
  -moz-box-shadow: inset 2px 2px 2px #678;
  -webkit-box-shadow: inset 2px 2px 2px #678;
  }
#content {
  margin:  90px 10px 10px 10px;
  padding: 0px 5px 5px 15px;
}
ul {
  list-style-type: none;
  }
label {
  float: left;
  text-align: right;
  vertical-align: top;
  width:150px;
  font-weight: bold;
  padding-right: 5px;
  }
strong {
  color:red;
}
.edit {
  border: 0px white;
}
.descr {
  font-weight: bold;
  }


/* STATUSES */
 .to_be_validated  {
  background: #AAF;
  }
.new  {
  background: #FAA;
  }
.assigned {
  background: #FF9;
  }
.acknowledged {
  background: #FD6;
  }
.feedback   {
  background: #FAF;
  }
.cancelled   {
  background: #F00;
  }
.removed   {
  background: #DDD;
  }
.performed   {
  background: #AFA;
  }
.validated   {
  background: #6F6;
  }


.status {
  font-weight:bold;
  }
.status.green {
  color: #0A0;
  }
.status.amber {
  color: #A50;
  }
.status.red {
  color: #A00;
  }

.status_explanation {
  border: solid 1px #444;
  background: #EEF;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  margin:10px 0 10px 0;
  }

.status_date {
  font-size:1.2em;
  border-bottom: solid 1px #777;
  background: #DDF;
  margin: -10px;
  padding: 2px;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  }

.status_list_choice {
  cursor: pointer;
  vertical-align: middle;
  width: 500px;
  height: 100px;
  padding: 10px 20px 0px 20px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #f2f5f6; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
}

.status_list_choice_text {
  width : 400px;
  float:left;
  height:80px;
  vertical-align: middle;
}

.status_list_choice_img {
  width : 64px;
  float:right;
  margin-top:15px;
}
/* PROGRESS */
.status_not_started {
  background: #FAA;
  }
.status_ended {
  background: #9F9;
  }

.project_status_not_started {
  color: #A00;
  font-weight: bold;
  }
.project_status_ended {
  color: #AAA;
  font-style: italic;
  }

/* ACTIONS */
.action_closed, .action_abandonned {font-style: italic; color: #999;}
.amendment1 {font-style: italic; color: #999;}

.workload_milestone { z-index:-1; border:black solid 1px; width: 94px; display: inline-block; vertical-align:top; border-radius: 5px;  -moz-border-radius: 5px;}

.milestone_bar { margin: 50px 0 10px 0;}
.milestone {margin-bottom: 10px; z-index:-1; border:black solid 1px; width: 94px; display: inline-block; vertical-align:top; border-radius: 5px;  -moz-border-radius: 5px;}
.milestone.passed { opacity:0.4;}
.milestone_name { border-bottom:black solid 1px; font-weight: bold; border-top-left-radius: 5px;border-top-right-radius: 5px; -moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;}
.milestone_comments {min-height:64px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;-moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;background-color: #FFF;}
.milestone_comments.status-1 {color: #F00;}
.milestone_comments.status-1 {color: #F00;}
.milestone_comments.status0 {font-style: italic;color: #999;}
.milestone_comments.status1 {background-color: #5A5;}
.milestone_comments.status2 {background-color: #FA0;}
.milestone_comments.status3 {background-color: #F22;}

.milestone_name.missing {background-color: #AAF;}
.milestone_name.blank {background-color: #EEE;}
.milestone_name.skipped {background-color: #DDD; background: url(/images/stripes.png)}
.milestone_name.normal {background-color: #FFA;}
.milestone_name.soon {background-color: #FA0;}
.milestone_name.verysoon {background-color: #F00;}
.milestone_name.passed {background-color: #3F3;}

.milestone_cl {cursor:pointer;color:white;font-weight:bold;background-color: #699; border-bottom-left-radius: 5px;border-bottom-right-radius: 5px; -moz-border-radius-bottomleft: 5px;-moz-border-radius-bottomright: 5px;}
.milestone_cl.done{background-color: #3A3}
.milestone_cl.alert{background-color: #A33}

.notif {
  display: inline;
  border:1px solid #999;
  background: #FAA;
  margin: 10px 0 20px 0;
  padding: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  }
.legend {
  border:1px solid #999;
  background: #EEE;
  margin: 10px 0 20px 0;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 5px 5px 5px #89A;
  -moz-box-shadow: 5px 5px 5px #89A;
  -webkit-box-shadow: 5px 5px 5px #89A;
  }
.stats {
  float:right;
  border:1px solid #DDD;
  background: #FEFEFE;
  color: #777;
  margin: 0;
  padding: 2px 10px 2px 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  }

del.differ {
  color: red;
  }

ins.differ {
  color: green;
  }

.diff {
  color: #AAB;
  border-left: 1px solid #BBB;
  padding: 0 0 0 10px;
  }

.note_box {
  margin: 0 0 10px 0;
  padding:10px;
  }
.note_box.capi {
  background: #FDD;
  border: 1px black solid;
  }
.note_header {
  float: left;
  text-align: left;
  vertical-align: top;
  width:180px;
  padding-right: 5px;
  display: inline-block;
  }
.note {
  border-left: 1px solid #99A;
  padding-left: 5px;
  width:600px;
  display: inline-block;
}
.even {
  background: #EFE;
  }
.odd {
  background: #EEF;
  }
div#bandeau {
  margin: 5px 80px 0 0;
  position: fixed;
  padding: 0 10px 0 10px;
  top: 0;
  left: 170px;
  width: auto;
  height: 30px;
}
#bandeau .text {
  font-family: "Kameron";
  font-size: 1.2em;
  display: inline;
  line-height: 14px;
  }
#bandeau .person {
  font-size: 0.8em;
  color: #000;
  display: inline;

  }
#bandeau .link {
  font-size: 0.8em;
  color: #559;
  display: inline;
}
.popup {
  cursor:move;
  position:fixed;
  top:  100px;
  left: 200px;
  z-index:300;
  background: #ABC;
  padding:3px 30px 30px 30px;
  border: 1px solid black;
  border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 5px 5px 5px #CCC;
  -moz-box-shadow: 5px 5px 5px #CCC;
  -webkit-box-shadow: 5px 5px 5px #CCC;
  }
.popup .title {
  font-family: 'Stardos Stencil', serif;
  font-weight: normal;
  font-size: 2em;
}

legend {
  font-family: 'Stardos Stencil', serif;
  font-weight: normal;
  font-size: 1.5em;
  }
fieldset {
  margin-bottom: 20px;
  }
.checklist_item {
  display: inline;
  }
.checklist_item.time{
  color: #555;
  }
.checklist_item.msg{
  display:inline;
  font-weight: bold;
  color: #0A0;
  }
.checklist_item.folder {
  font-weight: bold;
  }
.checklist_item.late {
  color: #A33;
  font-weight: bold;
  }
.checklist_item.done {
  font-style: italic;
  color: #333;
  }
.checkbox {
  cursor:pointer;
  }

.generic_risk_section{
  background: #EEF;
  margin: 20px;
  padding:5px;
  border: 1px solid black;
  }

.generic_risk_question.not_deployed {
  font-style: italic;
  font-weight: normal;
  color: #AAA;
  }
.generic_risk_question.deployed {
  font-weight: bold;
  font-style: normal;
  color: #000;
  }
.generic_risks {
  font-weight: normal;
  font-style: normal;
}


/* TABLES */
table, th {
  }
tr {
  padding: 0px;
  margin: 0px;
  }
td {
  padding: 2px;
  }

.grid {
  font-family: Arial;
  padding: 0px;
  margin: 0px;
  border-collapse:collapse;
  border: #999 1px solid;
  }
.grid tr    {
  padding: 0px;
  margin: 0px;
  }
.grid td    {
  padding: 3px;
  border: #555 1px solid;
  }
.grid .header  {
  background: #AAF;
  font-weight: bold;
  }

/* Sortable tables */
table.sortable thead {
  background-color:#eee;
  font-weight: bold;
  cursor: pointer;
}
table.sortable .header  {
  background: #AAF;
  font-weight: bold;
  cursor: pointer;
  }
table.sortable {
  font-family: Arial;
  padding: 0px;
  margin: 0px;
  border-collapse:collapse;
  border: #999 1px solid;
  }
table.sortable tr    {
  padding: 0px;
  margin: 0px;
  }
table.sortable td    {
  padding: 3px;
  border: #555 1px solid;
  }

.req_deleted {
  background-color: #DDD;
  font-style:italic;
  color:#888;
}
.req_proposed {
  background-color: #FDD;
}
.req_normal {
  background-color: #FFD;
}
.req_deployed {
  background-color: #EFE;
  color:#555;
}
.sdp_log_late {
  background-color: #FAA;
}

/* CI PROJECTS */
.ci_late_report {
  color:red;
}

.ci_late {
  color:red;
}

/* STREAM */
#stream_project_creation{
  height: 200px;
}
#stream_project_creation div{
  width: 400px;
  float: left;
  clear: none; 
}
.planning_task {
  background-color: #D9D9D9;
  color: #333; 
  border-left: 0px; 
  border-right: 0px;
}
