body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 0.8em;
  background: #567;
  }
h1 {
  background: #333;
  color: #EEE;
  margin: 0;
  padding: 0;
}

h2 {
  background: #ABC;
  margin: 10px 0 5px -15px;
  padding: 0 0 0 15px;
}
a {
  text-decoration:none;
  }

#menu_bar {
  margin: 10px 0 0 10px;
  }
.menu {
  color:black;
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
  background: #FFF;
  }

#content {
  margin:  10px;
  padding: 0 5px 5px 15px;
  border: 2px solid black;
  background: #FFF;
}
ul {
  list-style-type: none;
  }
  

/* TABLES */

.edit {
  border: 0px white;
}

table, th {
  border: 1px solid black;
  font-size: 0.8em;
  }  
tr    {
  padding: 0px;
  margin: 0px;
  }  
td    {
  padding: 2px;
  }  
.theader  {
  background: #AAA;
  font-weight: bold;
  }


/* STATUSES */
  
.to_be_validated  {
  background: #AAF;
  }
.new  {
  background: #FAA;
  }
.assigned {
  background: #DFD;
  }
.acknowledged {
  background: #FD6;
  }
.feedback   {
  background: #FAF;
  }
.cancelled   {
  background: #AAA;
  }


.status {
  font-weight:bold;
  }
.status.green {
  color: #0A0;
  }
.status.amber {
  color: #A50;
  }
.status.red {
  color: #A00;
  }

.status_explanation {
  border: solid 1px #444;
  background: #EEF;
  padding: 10px;
  }

.status_date {
  border-bottom: solid 1px #777;
  background: #DDF;
  margin: -10px;
  padding: 2px;
  }


/* PROGRESS */

.status_not_started {
  background: #FAA;
  }
.status_ended {
  background: #9F9;
  }  
  
  
