#tabs{
  padding: 0;
  background: transparent;
  padding-left: 5px;
}
#tabs ol{
  font-family: Arial, Verdana, sans-serif;
  margin:0;
  padding:0;
  list-style:none;
}
#tabs ol li{
  display:inline;
  margin:0 2px 0 0;
  padding:0;
  font-size: 1.1em;
}
#tabs ol li {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  float:left;
  background: #42577B;
  margin:0 0 0 0;
  padding:3px 10px 3px 3px;
  text-decoration:none;
}
#tabs ol li span {
  float:left;
  display:block;
  background: transparent;
  color: #DDD;
  padding:4px 9px 2px 6px;
}
#tabs ol li span {float:none;}
#tabs ol li:hover {background-color: #A3CCFF;}
#tabs ol #tabHeaderActive { background-color: #A3CCFF;}
#tabs ol #tabHeaderActive a span { color: black;}
.tabContent {
  clear:both;
  padding:10px;
  border:1px solid #A3CCFF;
  background-color:#FEFEFF;
}
.tabContent {
  border-top:2px solid #A3CCFF;
}

