div#banner {
  background: #AAA;
  border-bottom: 1px solid #000;
}

#title {
  color: #555;
  }

.menu {
  color:black;
  border: 1px solid #666;
  }

.menu:hover {
  background: #EEE;
  box-shadow: inset 4px 4px 4px #AAA;
  -moz-box-shadow: inset 4px 4px 4px #AAA;
  -webkit-box-shadow: inset 4px 4px 4px #AAA;
  }

.menu.active {
  background: #AAA;
  }

.menu.active:hover {
  background: #AAA;
  box-shadow: inset 4px 4px 4px #888;
  -moz-box-shadow: inset 4px 4px 4px #888;
  -webkit-box-shadow: inset 4px 4px 4px #888;
  }

h2 {
  background: #DDD;
  border: 1px solid #005;
}

#list_wp, #list_m, #list_c {
	float:left;
	display:inline;
	margin-left:40px;
	text-align:center;
}
#list_per_wp_filter_submit {
	margin-top: 160px;
}
.list_per_wp_list_legend {
	font-size : 10px;
	font-style:italic;
}
.bg_blue
{
	background: #9EB5D9;
}
.bg_grey
{
	background: #CDDAD0;
}
.history_counts_table
{
	border: 1px solid grey;
	width:500px;
}