div#banner {
  background: #AAA;
  border-bottom: 1px solid #000;
}

#title {
  color: #555;
  }

.menu {
  color:black;
  border: 1px solid #666;
  }

.menu:hover {
  background: #EEE;
  box-shadow: inset 4px 4px 4px #AAA;
  -moz-box-shadow: inset 4px 4px 4px #AAA;
  -webkit-box-shadow: inset 4px 4px 4px #AAA;
  }

.menu.active {
  background: #AAA;
  }

.menu.active:hover {
  background: #AAA;
  box-shadow: inset 4px 4px 4px #888;
  -moz-box-shadow: inset 4px 4px 4px #888;
  -webkit-box-shadow: inset 4px 4px 4px #888;
  }

h2 {
  background: #DDD;
  border: 1px solid #005;
}

#list_wp, #list_m, #list_c {
	float:left;
	display:inline;
	margin-left:40px;
	text-align:center;
}
#list_per_wp_filter_submit {
	margin-top: 160px;
}
.list_per_wp_list_legend {
	font-size : 10px;
	font-style:italic;
}
.bg_blue
{
	background: #9EB5D9;
}
.bg_grey
{
	background: #CDDAD0;
}
.history_counts_table
{
	border: 1px solid grey;
	width:1200px;
}

.line_number
{
  font-size: 36px;
  color: grey;
  font-weight: bold;
}

#copy_view{
  position: absolute;
  border-radius: 10px;
  border: 2px solid #DDD;
  background: grey;
  left:20%;
  width: 1000px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  display: none;
  z-index: 2;
  
}

.tr_bottom {
  border-bottom: 1px solid #DDD;
  table-layout: fixed; 
  word-break: break-all;
}

/* Presale */
#presale_menu {
  position:absolute;
  float:left;
  width:200px;
  padding:2px;
  border-right: 2px solid grey;
  height:100%;
}

#presale_content {
  margin-left:220px;
  height:100%;
}

#presale_content_left{
  height:100%;
  width:75%;
  float:left;
  display: inline-block;
}

#presale_content_right {
  border-left: 2px solid grey;
  width:24%;
  height:100%;
  float:right;
  text-align : right;
  display: inline-block;
}

.presale_btnlnk {
  padding: 2px;
  margin: 3px;
  background: #CDF;
  border-radius: 3px;
  -moz-border-radius: 5px;
}

.presale_btnlnk:hover {
  background: #BCF;
  box-shadow: inset 2px 2px 2px #678;
  -moz-box-shadow: inset 2px 2px 2px #678;
  -webkit-box-shadow: inset 2px 2px 2px #678;
  }

.presale_btnlnk_content {
  width:100%;
  display: block;
}

.presale_btnlnk_right {
  padding: 2px;
  margin: 3px;
  background: #CDF;
  border-radius: 3px;
  -moz-border-radius: 5px;
  float:right;
  display:inline;
}
