div#banner {
  background: #AAA;
  border-bottom: 1px solid #000;
}

#title {
  color: #555;
  }

.menu {
  color:black;
  border: 1px solid #666;
  }

.menu:hover {
  background: #EEE;
  box-shadow: inset 4px 4px 4px #AAA;
  -moz-box-shadow: inset 4px 4px 4px #AAA;
  -webkit-box-shadow: inset 4px 4px 4px #AAA;
  }

.menu.active {
  background: #AAA;
  }

.menu.active:hover {
  background: #AAA;
  box-shadow: inset 4px 4px 4px #888;
  -moz-box-shadow: inset 4px 4px 4px #888;
  -webkit-box-shadow: inset 4px 4px 4px #888;
  }

h2 {
  background: #DDD;
  border: 1px solid #005;
}

#list_wp, #list_m, #list_c {
	float:left;
	display:inline;
	margin-left:40px;
	text-align:center;
}
#list_per_wp_filter_submit {
	margin-top: 160px;
}
.list_per_wp_list_legend {
	font-size : 10px;
	font-style:italic;
}
.bg_blue
{
	background: #9EB5D9;
}
.bg_grey
{
	background: #CDDAD0;
}
.history_counts_table
{
	border: 1px solid grey;
	width:1200px;
}

.line_number
{
  font-size: 36px;
  color: grey;
  font-weight: bold;
}

#copy_view{
  position: absolute;
  border-radius: 10px;
  border: 2px solid #DDD;
  background: grey;
  left:20%;
  width: 1000px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  display: none;
  z-index: 2;
  
}

.tr_bottom {
  border-bottom: 1px solid #DDD;
  table-layout: fixed; 
  word-break: break-all;
}

/* Presale General */

h3.presale_title {
  font-size: 24px;
  color: grey;
  font-weight: bold;
}
#presale_menu {
  position:absolute;
  float:left;
  width:17%;
  height:100%;
  padding:2px;
  border-right: 2px solid grey;
}
#presale_content {
  position:absolute;
  width:80%;
  height:100%;
  margin-left:18%;
}
#presale_content_left{
  display: inline-block;
  float:left;
  width:80%;
  height:100%;
}
#presale_content_right {
  display: inline-block;
  float:right;
  width:19%;
  height:100%;
  padding-left: 5px;
  border-left: 2px solid grey;
}

/* Presale buttons general */
.presale_btnlnk, .presale_btnlnk_action, .presale_btnlnk_selected, .presale_parameter_active, .presale_parameter_inactive {
  padding: 5px;
  border-radius: 3px;
  -moz-border-radius: 5px;
  font-size: 20px;
  color: grey;
  font-weight: bold;
}
.presale_btnlnk {
  background: #CDF;
}

.presale_btnlnk_action {
  background: #D3EEC3;
}
.presale_parameter_inactive {
  background: red;
  height: 30px;
  display:block;
  margin-left:10px;
  color: black;
}
.presale_parameter_active {
  background: green;
  height: 30px;
  display:block;
  margin-left:10px;
  color: black;
}
.presale_btnlnk_content {
  width:100%;
  display: block;
}
.presale_btnlnk_right {
  padding: 2px;
  margin: 3px;
  background: #CDF;
  border-radius: 3px;
  -moz-border-radius: 5px;
  font-size:14px;
  float:right;
  display:inline;
}

/* Presale Buttons hover/enabled */
.presale_btnlnk:hover, .presale_btnlnk_action:hover, .presale_parameter_active:hover, .presale_parameter_inactive:hover, .selected {
  box-shadow: inset 2px 2px 2px #678;
  -moz-box-shadow: inset 2px 2px 2px #678;
  -webkit-box-shadow: inset 2px 2px 2px #678;
}
.presale_btnlnk:hover, .presale_btnlnk.selected {
  background-color: #C5E3FF;
}
.presale_btnlnk_action:hover, .presale_btnlnk_action.selected {
  background-color: #E8FFC4;
}
.presale_parameter_active:hover, .presale_parameter_active.selected {
  background-color: #7CE980;
}
.presale_parameter_inactive:hover, .presale_parameter_inactive.selected {
  background-color: #FF7272;
}


/* Presales content */
#priority_milestones{
  position: absolute;
  border-radius: 10px;
  border: 2px solid #DDD;
  background: #FFFFFF;
  opacity: 0.90;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  display: none;
  z-index: 2;
}

.presale_type_detail_tf {
  width : 85%;
}

