<table>
<tr style="background-color: #DDD;font-weight:bold;">
<td>#</td>
<td>Resp</td>
<td>Project</td>
<td>Created on</td>
<td>Due date</td>
<td>Progress</td>
<td>Result</td>
<td>Edit</td>
</tr>
