<table>
<tr style="background-color: #DDD;font-weight:bold;">
<td>#</td>
<td>Resp</td>
<td width="300">Action</td>
<td>Created on</td>
<td>Due date</td>
<td>Progress</td>
<td width="300">Result</td>
<td>Edit</td>
</tr>
