<h2>Add an action</h2>
<%= error_messages_for :myaction %>
<% form_for :@myaction, :url=>{:action=>'create'} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= hidden_field(:myaction, :origin_id, :value=>current_user.id) %>
  <%= submit_tag 'Add' %></p>
<% end -%>
