<tr style="font-weight:bold;">
	<td>ID</td>
	<td></td>
	<td>Status</td>
	<td>Visibility</td>
	<td>Assigned to</td>
	<td>Summary</td>
	<td>Stage</td>
	<td>SQLI (date <%= date_type %>)</td>
	<td>Airbus (date <%= date_type %>)</td)</td>
	<td>Deployment (date <%= date_type %>)</td)</td>
	<td>Kick-Off Date</td>
</tr>