<h2>Update DB</h2>
<%= form_tag({:action => 'upload'}, :multipart => true) %>
<p><label for="upload_file">Mantis CSV</label> : 
<%= file_field 'upload', 'datafile' %>
<%= submit_tag "Upload" %></p>
</form>
