<%= @collab.lastname %>

<a href="http://toulouse.sqli.com/tbp/tableau_production/tbpVueMensuelleCollab.php?mois=07&annee=2014&clb_id=<%=@collab.tbp_id%>">TBP</a><br/>
<%= render(:partial=>'date', :collection=>@dates, :as=>:d) %>
