<%= render(:file=>"presales/menu") %>
<div id="presale_content">
<% for presalePresaleType in @presale.presale_presale_types %>
	<h3><%= presalePresaleType.getName %></h3>
	<% lastComment = presalePresaleType.getLastComment %>
	<% if lastComment != nil %>
		<p><span class="bold">Last update time:</span> <%= time_ago_in_words(lastComment.updated_at.strftime("%Y-%m-%d %H:%M")) %></p>
			<%= render(:partial=>'presale_comment', :object=>lastComment, :locals=>{:edit_mode => false}) %>
	<% end %>
<% end %>

</div>