<table class="edit">
<tr><td>Workstream</td><td><%= text_field :project, :workstream %></td></tr>
<td>BRN</td><td><%= text_field :project, :brn %></td></tr>
<td>Description</td><td><%= text_area :project, :description %></td></tr>
</table>

