<h2><%= @project.name %> </h2>

<%= error_messages_for :project %>
<% form_for @project, :url=>{:action=>'update', :id=>@project.id} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= submit_tag 'Update' %></p>
<% end -%>

