<h2>Projects</h2>
<%= link_to('Import', :action=>'import') %>
<%= link_to('Check', :action=>'check') %>
<br/>

<%= @projects.size %> projects

<ul>
<%= render(:partial=>'project', :collection=>@projects) %>
</ul>
