<li>

<%= holidays_calendar.name %>
<%= holidays_calendar.id %>
<%= link_to('Edit', :action=>'edit', :id=>holidays_calendar.id) %>
<%= link_to('Delete', :action=>'destroy', :id=>holidays_calendar.id) %>
</li>

