<h2>Add a holidays calendar</h2>
<%= error_messages_for :holidays_calendar %>
<% form_for :@holidays_calendar, :url=>{:action=>'create'} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= submit_tag 'Add' %></p>
<% end -%>
