<script src="/javascripts/jquery-1.6.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
var $j = jQuery.noConflict();
</script>
<script src="/javascripts/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/workload_common.js" type="text/javascript"></script>
<script src="/javascripts/tag-it.js" type="text/javascript"></script>
<script src="/javascripts/sort_table.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.tagit.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/tagit.ui-zendesk.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/pdc.css" />

<h2>Tags</h2>
<table>
	<tr> 
	<th> Line id </th>
	<th> Person</th>
	<th> Line Name </th>
	<th> Tags </th>
	</tr>
	<%= render(:partial=>"line", :collection=>@wl_lines) %>
</table>