<%= link_to("New", {:action=>'new'}) %>
<% @monthlyTasks.each do |mt| %>
	<p><%= mt.title %> <%= link_to("Edit", { :action=>'edit', :id=>mt.id}) %> <%= link_to("Delete", { :action=>'destroy', :id=>mt.id}) %></p>
<% end %>