<tr class='theader'>
	<td>#</td>
	<td>WS</td>
	<td width='400'>Project</td>
	<td width='200'>PM</td>
	<td>Type</td>
	<td>Miles.</td>
	<td>Status</td>
	<td>Resp</td>
	<td>Load</td>
	<td>Start date</td>
	<td>End date</td>
	<td>Progress</td>
	<td>SDP</td>
</tr>