<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Hello,<br/>
    <br/>
    Jobless people for next month:<br/>
    <br/>
    <%= render(:partial=>"workload", :collection=>@workloads) %><br/>
    <br/>
    <% 
    link_report_string = APP_CONFIG['scpm_title'] + " Report"
    link_report_url = APP_CONFIG['scpm_address'] + "workloads" 
    %>
    <%= link_to link_report_string, link_report_url %><br/>    
  </body>
</html>
