<li>
  <% if i.ctemplate.ctype == "checkbox" %>
    <%= check_box(:cl, :s, {:checked=>i.status==1, :onclick=>"checklist_item_set_status(#{i.id},this.checked? 1:0)"},'1','0') %>
  <% end %>
  <span class="<%= i.css_class %>"><%= i.ctemplate.title %></span>
  <ul>
    <%= render(:partial=>"checklist_item", :collection=>i.children, :as=>:i) %>
  </ul>
</li>

