<table>
<tr style="background-color: #DDD;font-weight:bold;">
<td>#</td>
<td width="200">Project</td>
<td>Miles.</td>
<td>Amendment</td>
<td>Status</td>
<td>Responsible</td>
<td width="80">Duedate</td>
<td>Real Closing Date</td>
<td>BAM Closing Date</td>
<td width="40">Edit</td>
</tr>
