<table>
<tr style="background-color: #DDD;font-weight:bold;">
<td>#</td>
<td>Project</td>
<td>Miles.</td>
<td>Amendment</td>
<td>Action</td>
<td>Responsible</td>
<td>Duedate</td>
<td>Edit</td>
</tr>
