<h2>Amendment Edit</h2>

<%= error_messages_for :amendment %>
<% form_for @amendment, :url=>{:action=>'update', :id=>@amendment.id} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= submit_tag 'send' %></p>
<% end -%>

