<h2>Risk Edit</h2>

<%= error_messages_for :generic_risk %>
<% form_for @generic_risk, :url=>{:action=>'update', :id=>@generic_risk.id} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= submit_tag 'OK' %></p>
<% end -%>

