<div id="context_select_box">
<%= select_tag('context',
              options_with_colors("",[["Go to...","",""], ["Report","reporting","#89F"],["Plan","workloads","#FA0"],["Improve","ci_projects","#A5A"],["Manage","tools","#FFF"],["Log out","logout","#CCC"]]),
              {:id=>"context_select", :onchange=>"change_context();"}) %><br/>
V2.03.13 &nbsp;
</div>
