<div id="context_select_box">
<%= select_tag('context',
              options_with_colors("",[["Go to...","",""], ["Reporting","reporting","#89F"],["Workloads","workloads","#FA0"],["Tools","tools","#CCC"],["Log out","logout",""]]),
              {:id=>"context_select", :onchange=>"change_context();"}) %><br/>
V1.10.10 &nbsp;
</div>

