<br/>
<font color="white">(c) Copyright 2010-2012 Mickael Faivre-Maçon</font>
<div id="footer">
  <a target="_blank" href="https://sqli.steering-project.com/page.php?controller=lancementappli&prj_id=TO2646&app_id=2">
    Report a bug or an evolution
  </a>
</div>
