<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="robots" content="all">
	<title>EISQ Manager</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
	<link href='http://fonts.googleapis.com/css?family=Stardos+Stencil&v1' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Zeyada&v1' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Special+Elite	&v1' rel='stylesheet' type='text/css'>
	<link rel="Shortcut Icon" type="image/x-icon" href="/images/favicon.ico" />
</head>

<body>

<div id="banner">
<%= image_tag('chrome.png', :class=>"chrome", :title=>"works better in Chrome (sadly, we don't test all browsers...)") %>
<div class="title">EISQ Manager</div>
<div class="tag">Reloaded</div>
<div class="subt">Providing awesome management tools since 2010</div>
</div>

<div id="content">
<%= yield %>
</div>

<script>
  arr = new Array("01.jpg","02.jpg","03.jpg","04.jpg","05.jpg", "c1.jpg", "c2.jpg", "c3.jpg", "c4.jpg", "o1.jpg", "o2.jpg", "o3.jpg");
  i = Math.floor(Math.random()*arr.length)
  document.body.style.background="url(/images/bg/"+arr[i]+") no-repeat center center fixed";
</script>

</body>
</html>

